{% extends "base.html" %}

{% block title %}About me{% endblock title %}

{% block content %}
        <h1>about</h1>
        {% if name %}
                <p>Hallo {{name}}</p>
        {% endif %}
        <a href="/">to index</a>
        <br> <br>
        <a href="/portfolio">to portfolio</a>
        <h2>Testformular:</h2>
        <form method="post" action="/about-me">
                <input type="text" name="contact-name" placeholder="Enter your name">
                <br>
                <input type="email" name="contact-email" placeholder="Enter email address">
                <br>
                <textarea name="contact-message" placeholder="Enter your message"></textarea>
                <br>
                <button type="submit">Submit</button>
        </form>
{% endblock content %}